body {
  background-color: rgb(2, 1, 1);
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Acme", sans-serif;
}

#arrow {
  position: absolute;
  top: 30px;
  right: 40px;
  font-weight: 400;
  font-size: 25px;
  color: red;
}
#shoot-1 {
  position: absolute;
  top: 70px;
  right: 40px;
  font-weight: 400;
  font-size: 25px;
  color: rgb(170, 228, 255);
}

.background {
  background-image: url(../Images/avengers\ logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game {
  height: 700px;
  width: 1300px;

  /* height: 100vh;
    width: 90vw; */

  /* left: 20px; */
  top: 40px;
  /* background-color: rgb(255, 255, 255); */
  margin: auto;
  background-image: url(../Images/warzone.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  border-radius: 1%;
  /* opacity: 90%; */
  box-shadow: 10px 10px 25px rgb(5, 5, 5);
  position: relative;
}

#gameOver {
  visibility: hidden;
}

#container {
  z-index: 200;
  height: 460px;
  width: 600px;
  background-color: white;
  position: absolute;
  top: 250px;
  left: 500px;
  background-image: url(../Images/you-won.jpg);
  background-size: contain;
  box-shadow: 0 0 25px rgb(255, 255, 255);
  border: 2px solid blanchedalmond;
  border-radius: 2%;
}

#coverup {
  display: flex;
  flex-direction: column;
}

#won-message h1 {
  color: white;
  font-size: 60px;
  background-color: rgb(0, 9, 63);
  margin: 20px auto;
  width: 400px;
}

#won-message h2 {
  color: white;
  font-size: 30px;
  margin-top: 220px;
  background-color: black;
  opacity: 80%;
}
#play-again a {
  text-decoration: none;
  color: white;
}

#play-again button {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  opacity: 80%;
  text-decoration: none;
}

#play-again button:hover {
  background-color: rgb(0, 0, 202);
  transition: 1s;
  color: white;
  font-size: larger;
}

#timer {
  position: absolute;
  top: 840px;
  left: 195px;
  font-weight: 400;
  font-size: 25px;
  color: rgb(170, 228, 255);
  font-family: "Acme", sans-serif;
}

#rocketNum {
  position: absolute;
  top: 840px;
  left: 310px;
  font-weight: 400;
  font-size: 25px;
  color: rgb(170, 228, 255);
}

#numOfBul {
  position: absolute;
  top: 840px;
  left: 450px;
  font-weight: 400;
  font-size: 25px;
  color: rgb(170, 228, 255);
}

#players {
  position: absolute;
  top: 40px;
  left: 60px;
  font-weight: 400;
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-align: left;
}

#spiderman {
  width: 90px;
  height: 90px;
  background-color: rgb(41, 0, 0);
  background-image: url(../Images/spiderman-face-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 350px;
  border-radius: 100%;
  border: 4px solid white;
  box-shadow: 0 0 20px white;
}

#ironman {
  width: 90px;
  height: 90px;
  background-color: rgb(77, 50, 0);
  background-image: url(../Images/ironman-face-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 490px;
  border-radius: 100%;
  border: 1px solid white;
}

#ironman a {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: transparent;
}

#captain {
  width: 90px;
  height: 90px;
  background-color: rgb(16, 0, 87);
  background-image: url(../Images/captain-face-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 630px;
  border-radius: 100%;
  border: 1px solid white;
}

#captain a {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: transparent;
}

/* .nameGame{
    position: absolute;
    top: 40px;
    left: 40px;
    font-weight: 400;
    font-size: 25px;
    color: rgb(255, 255, 255);
} */

#car {
  background-color: transparent;
  position: absolute;
  background-image: url(../Images/spiderman-removebg-preview.png);
  background-size: cover;
  border-radius: 20%;
  /* box-shadow: 10px 10px 15px rgb(42, 42, 42); */
}

.obstacle {
  background-color: transparent;
  position: absolute;
  background-image: url(../Images/Screenshot_2021-10-07_at_11.05.59-removebg-preview.png);
  background-size: cover;
}

.prize {
  background-color: transparent;
  position: absolute;
  background-image: url(../Images/ironman_bag-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20%;
}

#numOfBul {
  position: absolute;
  top: 840px;
  left: 40px;
  font-weight: 400;
  font-size: 25px;
  color: rgb(170, 228, 255);
}

.rocket {
  background-color: transparent;
  position: absolute;
  background-image: url(../Images/hulk-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20%;
}

.bulletX {
  background-color: transparent;
  position: absolute;
  background-image: url(../Images/spider-web-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20%;
  background-position: center;
}
